$backgroundColor: rgb(227, 226, 226);
$dark: rgb(64, 104, 29);
$light: rgb(233, 239, 174);
$selected: rgb(164, 71, 71);
$reachable: rgba(35, 32, 32, 0.421);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100vh;
    background: $backgroundColor;
}
.container {
    padding: 0 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    #chess-board {
        border-radius: 5px;
        border: 20px solid rgba(57, 67, 27, 0.674);
        width: 600px;
        height: 600px;
        .rank {
            display: flex;
            justify-content: center;
            text-align: center;
            .cell {
                width: 70px;
                height: 70px;
                position: relative;
                .piece {
                    z-index: 100;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &.LIGHT {
                    background: $light;
                }
                &.DARK {
                    background: $dark;
                }
                &.selected {
                    background: $selected;
                }
                &.reachable::after {
                    z-index: 0;
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: $reachable;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
